/* Styles specific to "Meine Lieblingsvideos" section */
.video {
    margin-bottom: 2em;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video video {
    max-width: 90%;
    height: auto;
    margin-bottom: 1em;
}

#meine-lieblingsvideos h3 {
    /* Überschriften nur in diesem Abschnitt */
    color: #007bff;
}